section.assistance
  .container 
    h1.assistance__title.title Оперативная помощь
    .assistance__descr.description
      p Решить критическую ситуацию здесь и сейчас.
    +assistance-services({'services':[{
      'class' : '',
      'img' : 'start',
      'alt' : 'Провода для прикуривания авто',
      'score' : '4,8',
      'title' : 'Завести авто',
      'descr' : 'Прикурить, заправить, починить. Заводим в 100% случаев.',
      'phone' : '79415369725',
      'link' : '#',
      'linkname' : '',
    }, {
      'class' : '',
      'img' : 'wheel',
      'alt' : 'Шиномонтаж',
      'score' : '4,8',
      'title' : 'Шиномонтаж выезд',
      'descr' : 'Смена шин, ремонт колёс, тормозов, боковых порезов.',
      'phone' : '79245579343',
      'link' : '#',
      'linkname' : '',
    }, {
      'class' : '',
      'img' : 'open-car',
      'alt' : 'Открыть машину',
      'score' : '4,8',
      'title' : 'Открыть машину',
      'descr' : 'Открыть машину без ключей. Разблочить сигнализацию.',
      'phone' : '79415369725',
      'link' : '#',
      'linkname' : '',
    }, {
      'class' : '',
      'img' : 'truck',
      'alt' : 'Эвакуатор',
      'score' : '4,8',
      'title' : 'Эвакуатор',
      'descr' : 'Заказать эвакуатор или буксировку.',
      'phone' : '79245579343',
      'link' : '#',
      'linkname' : '',
    }, {
      'class' : '',
      'img' : 'auto-electrician',
      'alt' : 'Автоэлектрик',
      'score' : '4,8',
      'title' : 'Автоэлектрик',
      'descr' : 'Решить проблемы с электрикой.',
      'phone' : '79415369725',
      'link' : '#',
      'linkname' : '',
    }, {
      'class' : '',
      'img' : 'scanner',
      'alt' : 'Сканер',
      'score' : '4,8',
      'title' : 'Сканер Check',
      'descr' : 'Выяснить, почему загореглась лампочка Check Engine.',
      'phone' : '79245579343',
      'link' : '#',
      'linkname' : '',
    }, {
      'class' : '',
      'img' : 'battery',
      'alt' : 'Аккумулятор',
      'score' : '4,8',
      'title' : 'Доставка акума',
      'descr' : 'Привезем новый аккумулятор.',
      'phone' : '79415369725',
      'link' : '#',
      'linkname' : '',
    }, {
      'class' : ' service--select',
      'img' : 'washing',
      'alt' : 'Мойка машины',
      'score' : '4,8',
      'title' : 'Помыть машину',
      'descr' : 'Выбрать автомойку по району и ценам. Смотрите все автомойки.',
      'link' : 'https://yandex.ru/maps/2/saint-petersburg',
      'linkname' : 'Выбрать автомойку',
    }]})