section.blank
  .container 
    h2.blank__title.title Бланк извещения о ДТП 2021
    a.blank__content(href="#")
      picture
        source(type="image/webp", srcset="img/blank.webp")
        img.blank__image(src="img/blank.png", alt="Извещение о дорожно-транспортном происшествии")
    form.form
      h3.form__title Отправим бланк на Email
      label
        input.form__field(type="email", placeholder="Email", required)
      button.form__btn(type="submit") Получить европротокол 