article.catalog-companies
  .container 
    .catalog-companies__inner
      h2.catalog-companies__title.title Смотреть все услуги
      .catalog-companies__descr.description
        p Каталог компаний, которые оказывают сервисы для автолюбителей.
    a.catalog-companies__service(href="#") 
    a.catalog-companies__link(href="#") Хочу добавить свою компанию
    