article.company.catalog-companies
  .container 
    h2.catalog-companies__title.title Добавить компанию
    .catalog-companies__descr.description
      p Напишите в Telegram, чтобы добавить компанию в подборку сервисов и услуг ДПС-Контроль.
    a.catalog-companies__link(href="#") Написать