section.social-media
  .container 
    h2.social-media__title.title ДПС-Контроль
    +media({'medias':[{
      'class' : ' social-media__content--news',
      'title' : 'ДПС-Контроль в Инстаграм',
      'span' : 'insta.name',
      'text' : '— новости и события, дороги и водители, социальные темы и польза.',
      'link' : 'https://www.instagram.com/?hl=ru',
    }, {
      'class' : ' social-media__content--situations',
      'title' : 'ДПС-Контроль в Инстаграм',
      'span' : 'examplename',
      'text' : '— ежедневные ситуации на дороге: фото аварий, сводки, разборы.',
      'link' : 'https://www.instagram.com/?hl=ru',
    }, {
      'class' : ' social-media__content--telegram',
      'title' : 'ДПС-Контроль в Телеграм',
      'span' : 'Группа Examle-name Name',
      'text' : '— крупнейший чат, оперативная информация с дороги.',
      'link' : 'https://web.telegram.org',
    }, {
      'class' : ' social-media__content--site',
      'title' : 'ДПС-Контроль наш Веб-сайт',
      'span' : 'www.example.com',
      'text' : '— подборка услуг и сервисов для автолюбителей и жителей города.',
    }]})