section.pitstop
  .container 
    h2.pitstop__title.title Заправил машину? Заправься сам!
    +pitstops({'pitstops':[{
      'img' : 'coffee',
      'alt' : 'Питстоп coffe',
    }, {
      'img' : 'dram',
      'alt' : 'Питстоп dram',
    }, {
      'img' : 'food',
      'alt' : 'Питстоп еда и точка',
    }, {
      'img' : 'drive',
      'alt' : 'Питстоп соль и перец',
    }]})
    button.pitstop__btn(type="button", data-graph-path="first") Меню всех питстопов →