header.header
  .container.header__container
    nav.menu
      button.burger(type="button")
        img(src="img/burger.svg", alt="Меню")
      a.logo(href="#")
        img.logo__image(src="img/logo.svg", alt="Логотип")
      +menu-list({'items':[{
        'name' : 'engine',
        'link' : 'Завести машину'
      }, {
        'name' : 'wheels',
        'link' : 'Выездной шиномонтаж'
      }, {
        'name' : 'truck',
        'link' : 'Эвакуатор или буксировка'
      }, {
        'name' : 'washing',
        'link' : 'Мойка'
      }, {
        'name' : 'electrician',
        'link' : 'Автоэлектрик'
      }, {
        'name' : 'key',
        'link' : 'Открыть машину'
      }, {
        'name' : 'candle',
        'link' : 'Свеча зажигания'
      }, {
        'name' : 'petrol',
        'link' : 'Кончился бензин'
      }, {
        'name' : 'auto',
        'link' : 'Подперли'
      }, {
        'name' : 'food',
        'link' : 'Проголодался? Перекусить'
      }, {
        'name' : 'accident',
        'link' : 'Авария? Вызов аварийки'
      }, {
        'name' : 'instruction',
        'link' : 'Инструкция по оформлению ДТП'
      }, {
        'name' : 'battery',
        'link' : 'Сел аккумулятор?'
      }]})
    a.menu__services(href="#") Все услуги