.pitstop {
  padding: 21px 0 24px;
  background-color: @color-selago-light;

  &__title {
    margin-bottom: 27px;
  }

  &__items {
    display: flex;
    justify-content: space-between;
    margin-bottom: 28px;
  }

  &__link {
    display: block;
    width: 64px;
    height: 64px;
  }

  &__image {
    height: 100%;
    object-fit: contain;
    border-radius: 50%;
  }

  &__btn {
    margin-left: auto;
    display: block;
    color: @color-blue;
  }
}

.accordion__content {
  overflow: hidden;
  max-height: 0;
  box-sizing: content-box;
  opacity: 0;
  transition: all .3s ease-out;
  will-change: max-height;

  .open & {
    opacity: 1;

  }
}